<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    {{> title}}
</head>

<body>
    {{!-- injecting a data --}}
    {{> header}}
    <p>My first paragraph.</p>
    {{!-- injecting a template --}}
    {{> footer}}
</body>

</html>